# 4.05 Deriving New Variables
#### 01. Importing Libraries
#### 02. Importing Data
#### 03. Price Range Flag
#### 04. Busiest Day Flags
#### 05. Busiest Period of the Day Flag

# 01. Importing Libraries

In [1]:
#Import libraries - pandas, Numpy, OS
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
#Creating a path to the root directory for this project
path = r'C:\Users\theva\OneDrive\CareerFoundry\Data Immersion\A4\Instacart Basket Analysis 11-2022'

In [5]:
#Importing orders_products_merged.pkl as df_op_merged
df_op_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03. Price Range Flag

#### Price ranges found for DF subset

In [26]:
#loc statment for prices greater than 15
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [24]:
#loc statment for prices greater than 5 and less than or equal to 15
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [25]:
#loc statement for prices less than or equal to 5
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
#Count the frequency of each price range
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

#### Price ranges found for entire DF

In [28]:
#loc statment for prices greater than 15
df_op_merged.loc[df_op_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [29]:
#loc statment for prices greater than 5 and less than or equal to 15
df_op_merged.loc[(df_op_merged['prices'] <= 15) & (df_op_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [30]:
#loc statement for prices less than or equal to 5
df_op_merged.loc[df_op_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [31]:
#Count the frequency of each price range
df_op_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# 04. Busiest Day Flags

#### Variable for the busiest and least busy days.

In [33]:
#Days of the week frequency
df_op_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [34]:
#For loop to populate a list with business flag
result = []

for value in df_op_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [38]:
#Create and populate busiest_day variable with 'result' list
df_op_merged['busiest_day'] = result

In [39]:
#Count the frequency of business flags
df_op_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

#### Variable for the TWO busiest and the TWO least busy days.

In [41]:
#Days of the week frequency
df_op_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

Busiest days: 0,1.  Slowest days: 3, 4

In [49]:
#For loop to populate a list with day of week business flag
result = []

for value in df_op_merged["orders_day_of_week"]:
  if (value == 0) | (value == 1):
    result.append("Busy day")
  elif (value == 3) | (value == 4):
    result.append("Slow day")
  else:
    result.append("Regular day")

In [50]:
#Create and populate busiest_day variable with 'result' list
df_op_merged['busy_days'] = result

In [51]:
#Count the frequency of business flags
df_op_merged['busy_days'].value_counts(dropna = False)

Regular day    12916111
Busy day       11864412
Slow day        7624336
Name: busy_days, dtype: int64

Notes: The two busiest days are almost twice as productive as the two slowest days. The two busiest days are both weekend days.

# 05. Busiest Period of the Day Flag

In [53]:
#Hour of the day frequency
df_op_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

Notes: 9 to 16 make up the busiest 1/3 of the day. 0-6 and 23 make up the least buys 1/3 of the day.

In [54]:
#For loop to populate a list with hours of the day business flag
result = []

for value in df_op_merged["order_hour_of_day"]:
  if (value >= 9) & (value <= 16):
    result.append("Most orders")
  elif (value == 23) | (value >= 0) & (value <= 6):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [55]:
#Create and populate busiest_period_of_day variable with 'result' list
df_op_merged['busiest_period_of_day'] = result

In [56]:
#Count the frequency of business flags
df_op_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

## Export new dataframe

In [57]:
#Verifying shape before export
df_op_merged.shape

(32404859, 17)

In [58]:
#Exporting merged dataframe
df_op_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_extended.pkl'))