# 4.10: Data Amendments and Marketing Profiles
### 1. Import Libraries and Data
### 2. Privacy concerns
### 3. Region Variable
### 4. Low-activity Flag
### 5. Marketing Profiles
#### --5.1 Age Profile
#### --5.2 Income Profile
#### --5.3 Lifestyle Profile
#### --5.4 Alcohol Flag
#### --5.5 Baby at Home Flag
#### --5.6 Favorite Shopping Time Period
#### --5.7 Favorite Shopping Day
### 6. Dropping Unused Variables
### 7. Exporting Data Set

# 1. Import Libraries and Data

In [1]:
#Import libraries - pandas, Numpy, OS
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Creating a path to the root directory for this project
path = r'C:\Users\theva\OneDrive\CareerFoundry\Data Immersion\A4\Instacart Basket Analysis 11-2022'

In [3]:
#Importing pickle
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))

In [4]:
#Checking imported dataframe
ords_prods_merge.shape

(32404859, 29)

In [5]:
pd.options.display.max_rows = 100

# 2. Privacy Concerns

#### Consider any security implications that might exist for this new data.

In [6]:
#Checking for column names infering possible PIIs
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busy_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price', 'spender_flag', 'median_order_frequency',
       'order_frequency_flag', 'gender', 'state', 'age', 'num_dependants',
       'fam_status', 'income'],
      dtype='object')

Notes: Any possible PIIs have already been removed (or not included) in this data set. First and last name were included in the 'customers.csv' data set, but were not included in the final data set as they are not relevant to the analysis.

# 3. Region Variable

#### Create and analyze a regional segmentation of the data.

### Create and populate the region column

In [7]:
#Setting 'region' for Northeast states
ords_prods_merge.loc[(ords_prods_merge['state'] == 'Maine') | (ords_prods_merge['state'] == 'New Hampshire') | (ords_prods_merge['state'] == 'Vermont') | (ords_prods_merge['state'] == 'Massachusetts') | (ords_prods_merge['state'] == 'Rhode Island') | (ords_prods_merge['state'] == 'Connecticut') | (ords_prods_merge['state'] == 'New York') | (ords_prods_merge['state'] == 'Pennsylvania') | (ords_prods_merge['state'] == 'New Jersey'), 'region'] = 'Northeast'

In [8]:
#Setting 'region' for Midwest states
ords_prods_merge.loc[(ords_prods_merge['state'] == 'Wisconsin') | (ords_prods_merge['state'] == 'Michigan') | (ords_prods_merge['state'] == 'Illinois') | (ords_prods_merge['state'] == 'Indiana') | (ords_prods_merge['state'] == 'Ohio') | (ords_prods_merge['state'] == 'North Dakota') | (ords_prods_merge['state'] == 'South Dakota') | (ords_prods_merge['state'] == 'Nebraska') | (ords_prods_merge['state'] == 'Kansas') | (ords_prods_merge['state'] == 'Minnesota') | (ords_prods_merge['state'] == 'Iowa') | (ords_prods_merge['state'] == 'Missouri'), 'region'] = 'Midwest'

In [9]:
#Setting 'region' for South states
ords_prods_merge.loc[(ords_prods_merge['state'] == 'Delaware') | (ords_prods_merge['state'] == 'Maryland') | (ords_prods_merge['state'] == 'District of Columbia') | (ords_prods_merge['state'] == 'Virginia') | (ords_prods_merge['state'] == 'West Virginia') | (ords_prods_merge['state'] == 'North Carolina') | (ords_prods_merge['state'] == 'South Carolina') | (ords_prods_merge['state'] == 'Georgia') | (ords_prods_merge['state'] == 'Florida') | (ords_prods_merge['state'] == 'Kentucky') | (ords_prods_merge['state'] == 'Tennessee') | (ords_prods_merge['state'] == 'Mississippi') | (ords_prods_merge['state'] == 'Alabama') | (ords_prods_merge['state'] == 'Oklahoma') | (ords_prods_merge['state'] == 'Texas') | (ords_prods_merge['state'] == 'Arkansas') | (ords_prods_merge['state'] == 'Louisiana'), 'region'] = 'South'

In [10]:
#Setting 'region' for West states
ords_prods_merge.loc[(ords_prods_merge['state'] == 'Idaho') | (ords_prods_merge['state'] == 'Montana') | (ords_prods_merge['state'] == 'Wyoming') | (ords_prods_merge['state'] == 'Nevada') | (ords_prods_merge['state'] == 'Utah') | (ords_prods_merge['state'] == 'Colorado') | (ords_prods_merge['state'] == 'Arizona') | (ords_prods_merge['state'] == 'New Mexico') | (ords_prods_merge['state'] == 'Alaska') | (ords_prods_merge['state'] == 'Washington') | (ords_prods_merge['state'] == 'Oregon') | (ords_prods_merge['state'] == 'California') | (ords_prods_merge['state'] == 'Hawaii'), 'region'] ='West'

In [11]:
#Check region typing results distribution
ords_prods_merge['region'].value_counts(dropna = False)

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: region, dtype: int64

Check! (no NaN)

### Compare regional spending habbits with 'spender_flag' crosstab

In [12]:
#Make crosstab with 'region' and 'spender_flag'
region_spend = pd.crosstab(ords_prods_merge['region'], ords_prods_merge['spender_flag'], dropna = False)

In [13]:
#Display results
region_spend

spender_flag  High spender  Low spender
region
Midwest              29236      7568089
Northeast            18635      5704101
South                40525     10751360
West                 31204      8261709

Notes: The South has the most high spenders, but it also has the most low spenders. A ratio of high to low spenders might be more informative.

In [14]:
#Calculating High spender to Low spender ratios
region_spend['high_low_ratio'] = region_spend['High spender']/region_spend['Low spender']

In [15]:
region_spend

spender_flag  High spender  Low spender  high_low_ratio
region
Midwest              29236      7568089        0.003863
Northeast            18635      5704101        0.003267
South                40525     10751360        0.003769
West                 31204      8261709        0.003777

Notes: The Midwest has the highest ratio of high to low spenders and the Northeast has the lowest.

In [16]:
#Export 'region_spend'
region_spend.to_csv(os.path.join(path, '02 Data','Prepared Data', 'regional_spending_ratios.pkl'))

# 4.  Low-activity Flag

#### Create an exclusion flag for low-activity customers (customers with less than 5 orders)  and exclude them from the data.

In [17]:
#Use max_order to determine low-activity flag
ords_prods_merge.loc[ords_prods_merge['max_order'] < 5, 'low_activity'] = True

In [18]:
#Checking shape
ords_prods_merge.shape

(32404859, 31)

In [19]:
#Checking for NaN values and T/F distribution
ords_prods_merge['low_activity'].value_counts(dropna = False)

NaN     30964564
True     1440295
Name: low_activity, dtype: int64

In [20]:
#Making a subset without low-activity users
ords_prods_merge = ords_prods_merge[ords_prods_merge['low_activity'].isnull()]

In [21]:
#Checking the shape of the subset
ords_prods_merge.shape

(30964564, 31)

In [22]:
#Example of dropped rows
ords_prods_merge[ords_prods_merge['low_activity'] == 1].head(20)

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, product_name, aisle_id, department_id, prices, price_range_loc, busiest_day, busy_days, busiest_period_of_day, max_order, loyalty_flag, mean_price, spender_flag, median_order_frequency, order_frequency_flag, gender, state, age, num_dependants, fam_status, income, region, low_activity]
Index: []

[0 rows x 31 columns]

# 5. Marketing Profiles

#### Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles.

### 5.1 Age Profile
Young Adult < 30
</br> Adult >= 30 & < 65
</br> Elder >= 65

In [23]:
#Young Adult group flag
ords_prods_merge.loc[(ords_prods_merge['age'] < 30), 'age_group'] = 'Young Adult'

In [24]:
#Adult group flag
ords_prods_merge.loc[(ords_prods_merge['age'] >= 30) & (ords_prods_merge['age'] < 65), 'age_group'] = 'Adult'

In [25]:
#Elderly group flag
ords_prods_merge.loc[(ords_prods_merge['age'] >= 65), 'age_group'] = 'Elder'

In [26]:
#Checking shape
ords_prods_merge.shape

(30964564, 32)

In [27]:
#Checking distribution
ords_prods_merge['age_group'].value_counts(dropna = False)

Adult          16951417
Elder           8195544
Young Adult     5817603
Name: age_group, dtype: int64

### 5.2 Income Profile
Low < 50,000
</br>Mid >= 50,000 & < 150,000
</br>High >= 150,000

In [28]:
#Low group flag
ords_prods_merge.loc[(ords_prods_merge['income'] < 50000), 'income_group'] = 'Low'

In [29]:
#Mid group flag
ords_prods_merge.loc[(ords_prods_merge['income'] >= 50000) & (ords_prods_merge['income'] < 150000), 'income_group'] = 'Mid'

In [30]:
#High group flag
ords_prods_merge.loc[(ords_prods_merge['income'] >= 150000), 'income_group'] = 'High'

In [31]:
#Checking shape
ords_prods_merge.shape

(30964564, 33)

In [32]:
#Checking distribution
ords_prods_merge['income_group'].value_counts(dropna = False)

Mid     23706735
High     3895275
Low      3362554
Name: income_group, dtype: int64

### 5.3 Lifestyle Profile
Vegan: No meat/seafood (12), dairy/eggs (16)
</br>Vegetarian: No meat/seafood (12)
</br>Omnivore: All else

In [33]:
#Making Meat/Seafood flag
ords_prods_merge.loc[ords_prods_merge['department_id'] == 12, 'meat_flag'] = 1

In [34]:
#Transfering results to all user results
ords_prods_merge['meat_flag'] = ords_prods_merge.groupby('user_id')['meat_flag'].transform(np.max)

In [35]:
#Making Dairy/Egg flag
ords_prods_merge.loc[(ords_prods_merge['department_id'] == 16), 'de_flag'] = 1

In [36]:
#Transfering results to all user results
ords_prods_merge['de_flag'] = ords_prods_merge.groupby('user_id')['de_flag'].transform(np.max)

In [37]:
#Vegan Flag
ords_prods_merge.loc[(ords_prods_merge['meat_flag'] != 1) & (ords_prods_merge['de_flag'] != 1), 'life_style'] = 'meat_flag'

In [38]:
#Vegetarian Flag
ords_prods_merge.loc[(ords_prods_merge['meat_flag'] != 1) & (ords_prods_merge['de_flag'] == 1), 'life_style'] = 'Vegetarian'

In [39]:
#Omnivore Flag
ords_prods_merge.loc[(ords_prods_merge['meat_flag'] == 1), 'life_style'] = 'Omnivore'

In [40]:
#Check output spread
ords_prods_merge['life_style'].value_counts(dropna = False)

Omnivore      23065332
Vegetarian     7589236
Vegan           309996
Name: life_style, dtype: int64

In [41]:
#Check shape
ords_prods_merge.shape

(30964564, 36)

### 5.4 Alcohol Flag
If purchases have been made by user in depatment 5, alochol_flag = 1, else 0.

In [42]:
#Flagging purchases from Alcohol dept
ords_prods_merge.loc[ords_prods_merge['department_id'] == 5, 'alcohol_flag'] = 1

In [43]:
#Populating entire user_id with flag
ords_prods_merge['alcohol_flag'] = ords_prods_merge.groupby('user_id')['alcohol_flag'].transform(np.max)

In [44]:
#Setting NaN values to 0
ords_prods_merge.loc[ords_prods_merge['alcohol_flag'].isnull(), 'alcohol_flag'] = 0

In [45]:
#Check output spread
ords_prods_merge['alcohol_flag'].value_counts(dropna = False)

0.0    28634074
1.0     2330490
Name: alcohol_flag, dtype: int64

In [46]:
#Check shape
ords_prods_merge.shape

(30964564, 37)

### 5.5 Baby at home
If purchases have been made by user in depatment 18, baby_flag = 1, else 0.

In [47]:
#Flagging purchases from Alcohol dept
ords_prods_merge.loc[ords_prods_merge['department_id'] == 18, 'baby_flag'] = 1

In [48]:
#Populating entire user_id with flag
ords_prods_merge['baby_flag'] = ords_prods_merge.groupby('user_id')['baby_flag'].transform(np.max)

In [49]:
#Setting NaN values to 0
ords_prods_merge.loc[ords_prods_merge['baby_flag'].isnull(), 'baby_flag'] = 0

In [50]:
#Check output spread
ords_prods_merge['baby_flag'].value_counts(dropna = False)

0.0    21154311
1.0     9810253
Name: baby_flag, dtype: int64

In [51]:
#Check shape
ords_prods_merge.shape

(30964564, 38)

### 5.6 Favorite Shopping Time Period
Mode shopping time = x
</br>Midnight 12-4: x >= 0 , x < 5
</br>Morning 5-9: x >= 5 & x < 10
</br>Mid-day 10-4: x >= 10 & x < 17
</br>Night 5-11: x >= 17 & x < 24

In [52]:
#Finding mean shopping time per user_id
ords_prods_merge['mode_shopping_time'] = ords_prods_merge.groupby('user_id')['order_hour_of_day'].transform(lambda x: x.value_counts().idxmax())

In [53]:
#Making Midnight fav_shopping_time flag
ords_prods_merge.loc[(ords_prods_merge['mode_shopping_time'] >= 0) & (ords_prods_merge['mode_shopping_time'] < 5), 'fav_shopping_time'] = 'Midnight'

In [54]:
#Making Morning fav_shopping_time flag
ords_prods_merge.loc[(ords_prods_merge['mode_shopping_time'] >= 5) & (ords_prods_merge['mode_shopping_time'] < 10), 'fav_shopping_time'] = 'Morning'

In [55]:
#Making Mid-day fav_shopping_time flag
ords_prods_merge.loc[(ords_prods_merge['mode_shopping_time'] >= 10) & (ords_prods_merge['mode_shopping_time'] < 17), 'fav_shopping_time'] = 'Mid-day'

In [56]:
#Making Night fav_shopping_time flag
ords_prods_merge.loc[(ords_prods_merge['mode_shopping_time'] >= 17) & (ords_prods_merge['mode_shopping_time'] < 24), 'fav_shopping_time'] = 'Night'

In [57]:
#Check output spread
ords_prods_merge['fav_shopping_time'].value_counts(dropna = False)

Mid-day     18945034
Night        6175656
Morning      5623992
Midnight      219882
Name: fav_shopping_time, dtype: int64

In [58]:
#Check shape
ords_prods_merge.shape

(30964564, 40)

# 6. Dropping Unused Variables

In [61]:
#dropping add_to_cart_order, reordered, aisle_id
ords_prods_merge = ords_prods_merge.drop(columns = ['add_to_cart_order', 'reordered', 'aisle_id'])

In [62]:
#checking shape
ords_prods_merge.shape

(30964564, 37)

# 7. Exporting Data Set

In [63]:
#exporting final dataset of unique customers
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_final.pkl'))