# 4.7 Deriving New Variables
#### 01. Importing Libraries
#### 02. Importing Data
#### 03. If-Statments with User-defined Functions
#### 04. If-Statements with loc()
#### 05. If-Statements with For-Loops
#### 06. Task

# 01. Importing Libraries

In [1]:
#Import libraries - pandas, Numpy, OS
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
#Creating a path to the root directory for this project
path = r'C:\Users\theva\OneDrive\CareerFoundry\Data Immersion\A4\Instacart Basket Analysis 11-2022'

In [5]:
#Importing orders_products_merged.pkl as df_op_merged
df_op_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03. If-Statments with User-defined Functions

#### Demo Function

In [ ]:
#Define function
def add_num(x,y):
    sum = x + y
    return sum

In [ ]:
#Run function
add_num(9,11)

#### Price Range Function

In [7]:
#create a subset of 1,000,000 rows
df = df_op_merged[:1000000]

In [10]:
#Define function to make price flags for: low, medium, and high
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [12]:
#Run the price sorting function in a new variable in df
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\theva\AppData\Local\Temp\ipykernel_14916\4223071481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [18]:
#Count the frequency of each price range
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [20]:
#Check the min and max of the subset prices
df['prices'].min(), df['prices'].max()

(1.0, 14.8)

# 04. If-Statements with loc()

#### Price ranges found for DF subset

In [26]:
#loc statment for prices greater than 15
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [24]:
#loc statment for prices greater than 5 and less than or equal to 15
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [25]:
#loc statement for prices less than or equal to 5
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
#Count the frequency of each price range
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

#### Price ranges found for entire DF

In [28]:
#loc statment for prices greater than 15
df_op_merged.loc[df_op_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [29]:
#loc statment for prices greater than 5 and less than or equal to 15
df_op_merged.loc[(df_op_merged['prices'] <= 15) & (df_op_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [30]:
#loc statement for prices less than or equal to 5
df_op_merged.loc[df_op_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [31]:
#Count the frequency of each price range
df_op_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# 05. If-Statements with For-Loops

In [33]:
#Days of the week frequency
df_op_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [34]:
#For loop to populate a list with business flag
result = []

for value in df_op_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [38]:
#Create and populate busiest_day variable with 'result' list
df_op_merged['busiest_day'] = result

In [39]:
#Count the frequency of business flags
df_op_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# 06. Task

In [40]:
df_op_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy

#### 2. Make a variable for the two busiest and the two least busy days.

In [41]:
#Days of the week frequency
df_op_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

Busiest days: 0,1.  Slowest days: 3, 4

In [49]:
#For loop to populate a list with day of week business flag
result = []

for value in df_op_merged["orders_day_of_week"]:
  if (value == 0) | (value == 1):
    result.append("Busy day")
  elif (value == 3) | (value == 4):
    result.append("Slow day")
  else:
    result.append("Regular day")

Note: I decided to use a for loop because it resulted in the most readable code.

In [50]:
#Create and populate busiest_day variable with 'result' list
df_op_merged['busy_days'] = result

#### 3. Check the frequency of the results of step 2

In [51]:
#Count the frequency of business flags
df_op_merged['busy_days'].value_counts(dropna = False)

Regular day    12916111
Busy day       11864412
Slow day        7624336
Name: busy_days, dtype: int64

Notes: The two busiest days are almost twice as productive as the two slowest days. The two busiest days are both weekend days.

#### 4. Create a flag for to label the business of each hour of the day.

In [53]:
#Hour of the day frequency
df_op_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

Notes: 9 to 16 make up the busiest 1/3 of the day. 0-6 and 23 make up the least buys 1/3 of the day.

In [54]:
#For loop to populate a list with hours of the day business flag
result = []

for value in df_op_merged["order_hour_of_day"]:
  if (value >= 9) & (value <= 16):
    result.append("Most orders")
  elif (value == 23) | (value >= 0) & (value <= 6):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [55]:
#Create and populate busiest_period_of_day variable with 'result' list
df_op_merged['busiest_period_of_day'] = result

Note: I decided to use a for loop because it resulted in the most readable code.

#### 5. Print the frequency for this new column.

In [56]:
#Count the frequency of business flags
df_op_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

#### 7. Export new dataframe as a pickle

In [57]:
#Verifying shape before export
df_op_merged.shape

(32404859, 17)

In [58]:
#Exporting merged dataframe
df_op_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_extended.pkl'))